/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bluesky : #99dafd;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,
        #009688 0,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100vh
    );
}

.wrapper {
    display: flex;
    height: 95%;
    width: 80%;
    background-color: #feffff;
    overflow: hidden;
}

/* LEFT CONTACTS */
.left-contacts {
    width: calc(100% / 3 * 1);
    height: 100%;
    border-right: 1px solid #d5d6d8;
}

/* Profile */
.profile {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    background-color: #e9eaed;
}

.left-contacts .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-pic {
    display: flex;
    align-items: center;
}

.profile-pic img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-options {
    font-size: 18px;
    color: #b0b1b3;
}

.profile-options i {
    margin: 0 5px;
}

/* Notifications */
.notifications {
    display: flex;
    align-items: center;
    background-color: var(--bluesky);
    padding: 10px 20px;
}

.notifications .bell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
    color: var(--bluesky);
}

.notifications-text {
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
}

.notifications-text a {
    color: #7c7c7c;
    font-size: 12px;
}

/* Search chat */
.search-chat {
    display: flex;
    background-color: #f9fafd;
    padding: 10px;
}

.search-chat .search-glass {
    text-align: center  ;
    width: 15%;
    color: #b6b9bd;
}

.search-chat input {
    width: 85%;
    border: 0;
    background-color: white;
}

/* Contacts */
.contacts ul {
    list-style-type: none;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgb(197, 197, 197);
}

.contact img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-main {
    display: flex;
    flex-direction: row;
}

.last-sent {
    font-size: 12px;
    color: #bab9c2;
}

.contact-time {
    font-size: 13px;
    color: #bab9c2;
}

.contact .name {
    font-weight: 500;
    margin-bottom: 5px;
}

/* RIGHT CHAT */
.right-chat {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 * 2);
    height: 100%;
}

/* Chat header */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    background-color: #e9eaed;
}

.header-left {
    display: flex;
}

.chat-header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.header-right {
    font-size: 20px;
    color: #b0b1b3;
}

.header-right i {
    margin: 0 5px;
}

.header-text .name {
    font-weight: 500;
}

.header-text .last-online {
    font-size: 13px;
    color: #858585;
}

/* Chat Main */
.chat-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    color: black;
    font-size: 14px;
    padding: 20px 50px;
}

.chat-main ul {
    list-style-type: none;
}

.message {
    border-radius: 6px;
    width: 50%;
    margin-bottom: 10px;
    background-color: #feffff;
    padding: 5px 20px;
}

.received {
    float: right;
}

.sent {
    float: left;
    background-color: #d8f8bf;
}

/* Chat Footer */
.chat-footer {
    display: flex;
    align-items: center;
    background-image: #f2eeed;
    padding: 10px;
}

.smile, .voice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #6c7377;
    width: 10%;
}

.chat-footer input {
    width: 80%;
    height: 30px;
    border: 0;
    background-color: white;
}