<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzapp</title>
</head>
<body>
    
    <div id="root">
        <div class="background">
            <div class="wrapper">
                <!-- Left contacts -->
                <div class="left-contacts">
                    <div class="profile">
                        <!-- Nome e avatar -->
                        <div class="profile-pic">
                            <img :src="'./img/avatar' + profile.avatar + '.jpg'" alt="My Avatar">
                            <span class="profile-name">{{ profile.name }}</span>
                        </div>
                        <!-- Icone profilo -->
                        <div class="profile-options">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Notifications -->
                    <div class="notifications">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notifications-text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- Search Chat -->
                    <div class="search-chat">
                        <a class="search-glass" href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <input type="text" name="search-chat" id="search-chat"
                               placeholder="Cerca o inizia una nuova chat" v-model="searchContactName"
                               @keyup="filterContacts">
                    </div>

                    <!-- Contacts' chats -->
                    <div class="contacts">
                        <ul>
                            <li class="contact" v-for="(contact, index) in contacts"
                                @click="changeContact(index)" :class="(index == currentIndex) ? 'contact-selected' : ''"
                                v-if="contact.visible">
                                <!-- Contact pic and name -->
                                <div class="contact-main">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'"
                                          :alt="'Immagine Profilo di ' + contact.name">
                                    <div class="contact-text">
                                        <div class="name">{{contact.name}}</div>
                                        <div class="last-sent">Ultimo messaggio inviato</div>
                                    </div>
                                </div>

                                <!-- Contact time -->
                                <div class="contact-time">12:00</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Right-chat -->
                <div class="right-chat">
                    <!-- Chat header -->
                    <div class="chat-header">
                        <div class="header-left">
                            <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`"
                                 :alt="`Avatar di ${contacts[currentIndex].name}`">
                            <div class="header-text">
                                <div class="name">{{ contacts[currentIndex].name }}</div>
                                <div class="last-online">Ultimo accesso oggi alle 12:00</div>
                            </div>
                        </div>

                        <div class="header-right">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Chat Main -->
                    <div class="chat-main">
                        <ul>
                            <li v-for="(message, index) in contacts[currentIndex].messages"
                                :class="(message.status == 'sent') ? 'message sent' : 'message received'">
                                <div class="message-text">{{ message.message }}</div>
                                <div class="message-time">{{ getHourMinute(message.date) }}</div>
                            </li>
                        </ul>
                    </div>

                    <!-- Chat Footer -->
                    <div class="chat-footer">
                        <div class="smile">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input type="text" name="chat-text" id="chat-text" placeholder="Scrivi un messaggio"
                                v-model="newMessage" @keyup.enter="sendMessage">
                        <div class="voice">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Import di day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>